<header>
  <nav class="navbar">
    <div class="nav-container">
        <a href="/" class="brand">
        <img src="/images/Psi_Chi_Omega_crest.jpg" alt="Fraternity Logo" class="logo-img">
        <span class="logo-text">Psi Chi Omega</span>
        </a>
      
        <ul class="nav-links">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About Us</a></li>
        <li><a href="/events">Events</a></li>
        <li><a href="/donate">Donate</a></li>
        <li><a href="/contact">Contact</a></li>
        <li><a href="/rush">Rush</a></li>
        </ul>
    </div>
  </nav>
</header>