<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Fraternity Home</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <%- include('../partials/header') %>

  <main>
    <h1>Welcome</h1>
    <p>blah blah blah blah integrity. perserverance. Leadership.</p>
  </main>

  <%- include('../partials/footer') %>

</body>
</html>